.fnprgcpe-filtro .ant-switch {
    background-color: rgba(0, 0, 0, 0.25) !important;
}

.fnprgcpe-filtro .ant-switch-checked {
    background-color: rgb(79 70 229 / var(--tw-bg-opacity)) !important;
}

.fnprgcpe-filtro .ant-input {
    width: 175px !important;
}

.fnprgcpe-filtro .ant-btn-primary {
    background: rgb(79 70 229 / var(--tw-bg-opacity)) !important;
    border-color: rgb(79 70 229 / var(--tw-bg-opacity)) !important;
}

.fnprgcpe-filtro .ant-btn-primary:hover {
    background-color: rgb(67 56 202 / var(--tw-bg-opacity)) !important;
    border-color: rgb(67 56 202 / var(--tw-bg-opacity)) !important;
}

.fnprgcpe-filtro .ant-btn-primary:focus {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
    background-color: rgb(67 56 202 / var(--tw-bg-opacity)) !important;
    border-color: rgb(67 56 202 / var(--tw-bg-opacity)) !important;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
    --tw-ring-opacity: 1 !important;
    --tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity)) !important;
    --tw-ring-offset-width: 2px !important;
}

.fnprgcpe-tabla-oc .ant-table-thead .ant-table-cell {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
    font-weight: 600 !important;
    --tw-text-opacity: 1 !important;
    color: rgb(17 24 39 / var(--tw-text-opacity)) !important;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity)) !important;
}

.fnprgcpe-tabla-oc .ant-table-body>table>colgroup>col:nth-of-type(2) {
    min-width: 120px !important;
}

.fnprgcpe-tabla-oc .ant-table-tbody .ant-table-cell {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
}

.fnprgcpe-pag-oc .ant-pagination-prev .anticon {
    vertical-align: 0.125em !important;
}

.fnprgcpe-pag-oc .ant-pagination-next .anticon {
    vertical-align: 0.125em !important;
}